<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agentis - Support</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../assets/css/dashboard.css">
</head>
<body>

    <section class="dashboard_section">
        <div class="sidebar_main">
            <div class="sidebar" id="sidebar">
                <div class="sidebar_profile">
                        <div class="sidebar_profile_img">
                            <div class="cancel-btn" id="cancelBtn">×</div>
                            <img src="../assets/img/dash_pro.svg' %}" alt="">
                            <span>4</span>
                        </div>
                        <h3>Samantha</h3>
                        <a href="#">samantha@email.com</a>
                    </div>
                <div class="sidebar_inner">
                    <div class="sidebar_links_main">
                        <a href="dashboard.html" class="sidebar_links">Dashboard</a>
                        <a href="myagents.html" class="sidebar_links">My Agents</a>
                        <a href="billing.html" class="sidebar_links">Billing and Subscription</a>
                        <a href="download.html" class="sidebar_links">Downloads</a>
                        <a href="setting.html" class="sidebar_links">Setting</a>
                    </div>
                </div>
                    <div class="sidebar_bottom_main">
                        <a href="support.html" class="sidebar_links active">Support</a>
                        <div class="logout_btn">
                            <a href="#"><button type="button">Logout</button></a>
                        </div>
                    </div>
            </div>
        </div>
        
        <div class="dash_main">
            <div class="dashboard_content_main">
                <div class="dashboard_left_content">
                    <div class="dashboard_header">
                        <div class="dash_title">
                            <h3>
                                <span class="toggle-btn" id="toggleBtn">☰</span>
                                Need Help?</h3>
                                <div class="dash_title2 mt-3">
                                    <button type="button">Live Chat with Team</button>
                                </div>
                        </div>
                    </div>
                    <div class="ticket_thread_card_body">
                        <div class="threads_messages_main">
                            <div class="tread_msg1">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius veniam ex repellendus reiciendis cum voluptatem!</p>
                                <img src="../assets/img/profile.svg' %}" alt="">
                            </div>
                            <div class="tread_msg2">
                                <div class="tread_msg2_inner">
                                    <img src="../assets/img/profile.svg' %}" alt="">
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius veniam ex repellendus reiciendis cum voluptatem!</p>
                            </div>
                            <div class="tread_msg1">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius veniam ex repellendus reiciendis cum voluptatem!</p>
                                <img src="../assets/img/profile.svg' %}" alt="">
                            </div>
                            <div class="tread_msg2">
                                <div class="tread_msg2_inner">
                                    <img src="../assets/img/profile.svg' %}" alt="">
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius veniam ex repellendus reiciendis cum voluptatem!</p>
                            </div>
                            <div class="tread_msg1">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius veniam ex repellendus reiciendis cum voluptatem!</p>
                                <img src="../assets/img/profile.svg' %}" alt="">
                            </div>
                            <div class="tread_msg2">
                                <div class="tread_msg2_inner">
                                    <img src="../assets/img/profile.svg' %}" alt="">
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius veniam ex repellendus reiciendis cum voluptatem!</p>
                            </div>
                            <div class="tread_msg1">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius veniam ex repellendus reiciendis cum voluptatem!</p>
                                <img src="../assets/img/profile.svg' %}" alt="">
                            </div>
                            <div class="tread_msg2">
                                <div class="tread_msg2_inner">
                                    <img src="../assets/img/profile.svg' %}" alt="">
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius veniam ex repellendus reiciendis cum voluptatem!</p>
                            </div>
                            <div class="tread_msg1">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius veniam ex repellendus reiciendis cum voluptatem!</p>
                                <img src="../assets/img/profile.svg' %}" alt="">
                            </div>
                        </div>
                        <button type="button" class="thread_remove">
                            <i class="bi bi-x-lg"></i></button>
                        <div class="ticket_threadinput_main">
                            <div class="ticket_thread_input_inner">
                                <input type="text" placeholder="Type a Message">
                                <img src="../assets/img/send.svg' %}" alt="">
                            </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dashboard_right_content">
                    <h4>Recent Activity</h4>
                   <div class="dashboard_right_content_inner1">
                    <button type="button" class="active">
                        <span>Edited prompts for "Marketing Bot"</span>
                        <b>July 27</b>
                    </button>
                    <button type="button">
                        <span>Created "Support Agent"</span>
                        <b>July 25</b>
                    </button>
                    <button type="button">
                        <span>Subscribed to Pro Plan</span>
                        <b>July 21</b>
                    </button>
                   </div>
                   <div class="dashboard_right_content_inner2">
                        <h6>Announcements and Tips</h6>
                        <p><span>New</span> Custom Prompt Library Now Available</p>
                        <p><span>Tip</span> Use tags to better organize your agents</p>
                        <button type="button">View Tips</button>
                   </div>
                </div>
            </div>
        </div>
    </section>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="../assets/js/dashboard.js"></script>

</body>
</html>